<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/contact.CSS' %}">

</head>
<body>
    <div class="requestQuote">
        <nav id="navbar">
            <h3 id="companyName">Vucen Develoopers inc</h3>
            <div class="container">
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="#quote ">REQUEST A QUOTE</a></li>
                </ul>
            </div>
        </nav>


        <div class="contactForm">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form id = "con" action = "/contactUs" method ="POST">
                {% csrf_token %}

            <p class="contactFormTitle">Fill in your ....</p>

            <div class="row">

                <div class="contactInfo">
                    <input type="text" size="40" class="contactText" placeholder="Full Name *" required="" data-val="true" data-val-required="Please enter your name." id="Name" name="Name" value="">
                </div>
                <div class="col-lg-6">
                    <input type="text" size="40" class="contactText" placeholder="Company" id="Company" name="Company" value="">
                </div>
                <div class="contactInfo">
                    <input type="email" size="40" class="contactText" placeholder="Email *" required="" data-val="true" data-val-email="Please enter a valid e-mail address." data-val-required="Please enter your e-mail." id="Email" name="Email" value="">
                </div>
                <div class="contactInfo">
                    <input type="tel" size="40" class="contactText" placeholder="Phone *" required="" data-val="true" data-val-required="Please enter your phone." id="Phone" name="Phone" value="">
                </div>
                <div class="contactInfo">
                    <textarea cols="40" rows="10" class="contactMessage" placeholder="Message" style="resize: none;" id="Message" name="Message"></textarea>
                </div>
            </div>

            <br>

            <div class="submitButton">
            </div><button type="submit" class="btn btn-primary" data-action="submit">
                Submit
            </button>
            </div>

        </div>

    </div>
    
</body>
</html>