<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/privacyPolicy.CSS' %}">

</head>
<body>
    <div class="policy">
        <nav id="navbar">
            <h3 id="companyName">Vucen Developers Inc</h3>
            <div class="container">
                <ul>
                    <li><a href="/home">BACK TO HOMEPAGE</a></li>
                </ul>
            </div>
        </nav>
        <div class="mainPage">
            <h1>Vucen Developers Privacy Policy</h1>
                <p>When you visit Vucen Developer's website, certain information may be shared with us to serve you better. This privacy policy will help you understand how Vucen Developers uses and protects the data you provide to us when you visit www.vucendevelopers.ca.</p>
                <br>
                <p>We reserve the right to change this policy at any given time. If you want to make sure that you are up to date with latest changes, we advise you to frequently visit this page. </p>
            <h2>What information we collect</h2>
                <p>When you visit the website, we may collect the following data:</p>
                <ul class="whatWeCollect">
                    <li>Your contact information and email address</li>
                    <li>Other information like details about your project</li>
                </ul>
            <h2>Why we collect this information</h2>
                <p>We are collecting your data for several reasons:</p>
                <ul class="whyWeCollect">
                    <li>To better understand your needs</li>
                    <li>To improve our services and products</li>
                    <li>To respond to inquiries you might have</li>
                    <li>To customize our website</li>
                </ul>
            <h2>Safeguarding and securing data</h2>
                <p>Vucen Developers is committed to securing your data and keeping it confidential. Vucen Developers has made all reasonable attempts to prevent data theft, unauthorized access, and disclosure by following industry standards and selecting appropriate technologies, which help us safeguard the information we collect online.</p>
            <h2>Links to other websites</h2>
                <p>Our website contains links that lead to other websites. If you slick on these links, Vucen Developers is not held responsible for your data and privacy protection. Visiting those websites is not governed by this privacy policy agreement. Make sure to read the privacy policy documentation of the website you visit from our website.</p>
            <h2>Restricting the use of your personal data</h2>
                <p>Vucen Developers will not lease, sell or distribute personal information you provide to any third parties, unless we have your permission. We might do so if the law forces us.</p>
                <br>
                <p>Should you have any questions or concerns related to this privacy policy, please contact vucendevelopers1@gmail.com</p>
        </div>
        <footer>
            <div class="footerUpper">
                <div class="footerColoms">
                    <div id="company">
                        <h3>Company</h3>
                        <hr class="textWhite">
                        <ul class="menu">
                            <li class="manu-1">About Us</li>
                            <li class="manu-1">Service</li>
                        </ul>
                    </div>
                    <div id="services">
                        <h3>Services</h3>
                        <hr class="textWhite">
                        <ul class="menu">
                            <li class="manu-2">Mobile App Design & Development</li>
                            <li class="manu-2">Responsive Design</li>
                        </ul>
                    </div>
                </div>
                <div class="footerAddressAndSocial">
                    <dif class="footerAddress">
                        <h3>Vucen Developers Inc</h3>
                        <p class="contact">Stoney Creek, ON, Canada</p>
                        <p class="contact"><a href="/contact"> vucendevelopers1@gmail.com</a></p>
                        <!-- <p class="contact">(XXX)XXX-XXXX</p> -->
                    </dif>
                    <div class="social">
                        <ul class="socialIcons">
                            <a class="socialIcon" href="" target="_blank">
                                <li><ion-icon name="logo-facebook"></ion-icon></li>
                            </a>
                            <a class="socialIcon" href="https://www.linkedin.com/in/draskovucenovic/?originalSubdomain=ca" target="_blank">
                                <li><ion-icon name="logo-linkedin"></ion-icon></li>
                            </a>
                            <a class="socialIcon" href="" target="_blank">
                                <li><ion-icon name="logo-twitter"></ion-icon></li>
                            </a>
                            <a class="socialIcon" href="" target="_blank">
                                <li><ion-icon name="logo-instagram"></ion-icon></ion-icon></li>
                            </a>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerLower">
                <ul>
                    <li>@2022 Rights Reserved |</li>
                    <li><a href="privacy">Privacy Policy</a></li>
                </ul>
            </div>

        </footer>


    </div>
    
</body>
</html>