*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
    width: 100%;
    position: fixed;
    z-index: 90;
    height: 10%;
    background-image: linear-gradient(to bottom right, black,rgb(90, 89, 88),black);
    color: white;
    display: flex;  
    align-items: center;
}
#companyName {
    width: 50%;
    padding-left: 5%;
}
.container {
    width: 50%;
}
.container ul{
    padding-left: 30%;
    list-style: none;
    
}
.container li{
    display:inline;
}
.container a{
    color: white;
    text-decoration: none;
    padding-right: 15px;
}
.container a:hover {
    color: orange;
    text-decoration: none;
    font-size: large;
}

.contactForm {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/contactBackground.jpg");
    background-attachment: fixed;

}
.btn{
    background-color: orange;
    color: black;
    box-shadow: 5px 8px white;
    font-size: medium;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.submitButton {
    padding-right: 0;
}
.row {
    position: relative;
    z-index: 80;
    text-align: center;
    padding-top: 10%;
}
.contactInfo {
    margin: 3%;
}
.contactText {
    height: 30px;
    border-radius: 5px;
}
.contactMessage {
    border-radius: 5px;

}
