*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#navbar {
    width: 100%;
    position: fixed;
    z-index: 90;
    height: 10%;
    background-image: url("../images/navImage.jpeg");
    /* background-image: linear-gradient(to bottom right, black,rgb(90, 89, 88),black); */
    color: rgb(255, 255, 255);
    display: flex;  
    align-items: center;
}
#companyName {
    width: 50%;
    padding-left: 5%;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 1%;
}
.container {
    width: 50%;
}
.container ul{
    padding-left: 30%;
    list-style: none;
    
}
.container li{
    display:inline;
}
.container a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 15px;
}
.container a:hover {
    color: orange;
    text-decoration: none;
    font-size: large;
}

/* FORM STYLING */

body {
    font-family: "Montserrat";
    background-color: black;
}
section {
    height: 90vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
    margin-bottom: 1%;
}
.formContainer {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 20px;
    padding-bottom: 1%;
}
.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}
#message {
    height: 90px;
}
textarea {
resize: vertical;
}
button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
}
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success {
    background-color: rgb(156, 224, 53);
    animation: status 5s ease forwards;
}
#status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 5s ease forwards;
}
@keyframes status {
    0% {
    opacity: 1;
    pointer-events: all;
    }
    90% {
    opacity: 1;
    pointer-events: all;
    }
    100% {
    opacity: 0;
    pointer-events: none;
    }
}
/* FOOTER STYLING */
footer {
    /* padding: 4% 4% 0% 4%; */
    background: black;
    color: white;
}
.footerUpper {
    display: flex;
    justify-content: space-around;
}
.footerColoms {
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu {
    list-style: none;
}
.manu-1 {
    padding: 3px 0;;
}
.manu-2 {
    padding: 3px 0;;
}
h3 {
    padding: 5px 0;
}
.textWhite {
    margin: 5px 0;

}
.contact {
    padding: 3px 0;
    /* color: white; */
}
.contact a {
    color: white;
}
.contact a:hover {
    color: orange;
    font-size: large;
}
.social {
    width: 80%;
}
.socialIcons{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}
.footerLower a {
    color: white;
    text-decoration: none;
    display: inline;
}
.footerLower {
    padding: 5px;
    width: 50%;
}
.footerLower ul {
    list-style: none;
}
.footerLower li {
    display: inline;

}

