
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
}
.homePage{
    width: 100%;
    height: 100%;
}
#navbar {
    width: 100%;
    position: fixed;
    z-index: 90;
    height: 10%;
    background-image: url("../images/navImage.jpeg");
    color: white;
    display: flex;  
    align-items: center;
}
#companyName {
    width: 50%;
    padding-left: 5%;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 1%;
}
.container {
    width: 50%;
}
.container ul{
    padding-left: 30%;
    list-style: none;
    
}
.container li{
    display:inline;
}
.container a{
    color: white;
    text-decoration: none;
    padding-right: 15px;
}
.container a:hover {
    color: orange;
    text-decoration: none;
    font-size: large;
}
.mainPage {
    padding-top: 8%;
}
h1 {
    text-align: center;
    padding-bottom: 2%;
}
h2 {
    padding: 2%;
}
.mainPage p {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: large;
}
.mainPage ul {
    padding-left: 2%;
}
footer {
    padding: 2% 4% 0% 4%;
    background: black;
    color: white;
}
.footerUpper {
    display: flex;
    justify-content: space-around;
}
.footerColoms {
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu {
    list-style: none;
}
.manu-1 {
    padding: 3px 0;;
}
.manu-2 {
    padding: 3px 0;;
}
h3 {
    padding: 5px 0;
}
.textWhite {
    margin: 5px 0;

}
.contact {
    padding: 3px 0;
    /* color: white; */
}
.contact a {
    color: white;
}
.contact a:hover {
    color: orange;
    font-size: large;
}
.social {
    width: 80%;
}
.socialIcons{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}
.footerLower a {
    color: white;
    text-decoration: none;
    display: inline;
}
.footerLower {
    padding: 5px;
    width: 50%;
}
.footerLower ul {
    list-style: none;
}
.footerLower li {
    display: inline;

}
